body{
    background: rgb(60, 90, 116);
}

fieldset {
    margin: 5px;
    border-radius: 15px;
    border-color:aliceblue;
}

p {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(75, 137, 219);
}
    
li {
    float: left;
}
    
li.right {float:right;}

li:last-child{
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(130, 57, 214);
}
    
li a.active {background-color: #8f4bbd;}
    
li.dropdown {
    display: inline-block;
}
    
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e8dcff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
    
.dropdown-content a:hover {background-color: #b496eb}
    
.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float:none;}
}

p {
    text-align: justify;
    font-family: cursive;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}